body {
  font-family: "Sora", sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  /*border-bottom: solid 1px #000;*/
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-left: 30px;
}

.nav {
  margin-right: 30px;
}

.navb {
  width: auto;
  height: 60px;
  display: inline;
  border: none;
  background: transparent;
  color: black;
}

#navb {
  width: 100px;
  height: 35px;
  display: inline;
  border: none;
  background: black;
  color: white;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDifferent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}










/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 15px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 15px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.postContainer {
  width: 50%;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
  flex-wrap: wrap;
  border: solid 1px #000000;
  border-radius: 20px;
}

.postContainerUseful {
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /*text-align: center;*/
  flex-wrap: wrap;
}

.end {
  background: ;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  background: ;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  position: sticky;
}

.labelsnav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.heading{
  display: flex;
  margin: 10px;
  align-self: center;
}

.label{
  height: 40px;
  width: auto;
  border: none;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #f0f8ff;
  cursor: pointer;
}

.label2{
  height: 35px;
  width: auto;
  border: none;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #f0f8ff;
  color: gray;
  cursor: pointer;
  font-size: 12px;
}

.websitenav{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 30%;
}

.webnav{
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social img{
  margin-right: 5px;
  margin-left: 5px;
}

.copyright{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .post, .ads {
    flex: 1 1 100%;
    margin-right: 0;
  }
}